<!--about / why us?-->
<app-header></app-header>
<div class="relative bg-white">
    <div class="lg:absolute lg:inset-0">
      <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
        <img class="h-56 w-full object-cover lg:absolute lg:h-full" src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80" alt="">
      </div>
    </div>
    <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
      <div class="lg:col-start-2 lg:pl-8">
        <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0">
          <h2 class="leading-6 text-indigo-600 font-semibold">
            Work with us
          </h2>
          <h3 class="mt-2 text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">
            A little about us
          </h3>
          <p class="mt-8 text-lg text-gray-500">
            Want a website developer who understands your business, the recruitment industry and knows the right questions to ask? 
          </p>
          <div class="mt-5 prose prose-indigo text-gray-500">
            <p>
                We know websites but more importantly we know recruitment. 
            </p>
            <br>
            <p>
                You're not just talking to web developers and UX designers, you're talking to people who have been recruiters, 
                agency owners, job board owners and talent acquisition professionals, you're talking to people with experience job hunting 
                and using recruitment agencies to hire for their teams. 
            </p>
            <br>
            <p>
                I've previously worked within recruitment as a whole for 13 years. That's 11 years agency side and 2 years in-house. 6 years 
                running my own agency, 5 years working with other agencies and 2 years in-house for major media owners and content & 
                advertising agencies. Alongside my recruitment background I've also helped to develop enterprise level recruitment software. 
            </p>
            <br>
            <p>
                You're in good hands. 
            </p>
            <br>
            <a routerLink="/contact-us">
              <button type="button"
                class="inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Let's chat
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>