<!--FEATURES-->
<app-header></app-header>
<div class="relative bg-white py-16 sm:py-24 lg:py-8">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-lg font-semibold text-indigo-600">All-in-one platform</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">
            Everything you need for your recruitment website
        </p>
        <p class="mx-auto mt-5 max-w-prose text-xl text-gray-500">Phasellus lorem quam molestie id quisque diam aenean
            nulla in. Accumsan in quis quis nunc, ullamcorper malesuada. Eleifend condimentum id viverra nulla.</p>
        <div class="mt-12 mb-4">
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
                <!--CMS-->
                <div class="pt-6">
                    <a href="features/contact-management-system">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/cloud-upload -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                        </svg>
                                    </span>
                                </div>
                
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">
                                    Content Management System
                                </h3>
                
                                <p class="mt-5 text-base text-gray-500">
                                    Easy to update, whether you're adding, deleting or editing content.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--DESIGN-->
                <div class="pt-6">
                    <a href="design">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/refresh -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">Design</h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Designed and developed in the UK with mobile first, user experience & accessiblity at the forefront
                                    of each design.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--GDPR & COMPLIANCE-->
                <div class="pt-6">
                    <a href="features/gdpr-compliance">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/shield-check -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">GDPR & Compliance</h3>
                                <p class="mt-5 text-base text-gray-500">All sites are fully GDPR compliant to UK & EU
                                    standards.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--INTEGRATIONS-->
                <div class="pt-6">
                    <a href="features/integrations">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/refresh -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">
                                    Integrations
                                </h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Integration with a range of applicant tracking systems, customer relationship management platforms and multi-job posters. 
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--JOB SEARCH-->
                <div class="pt-6">
                    <a href="features/job-search">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/lock-closed -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">
                                    Job Search
                                </h3>
                                <p class="mt-5 text-base text-gray-500">
                                    One of the most important parts of your website so we ensure candidates are presented with roles
                                    that suit them.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--SECURITY & TECHNOLOGY-->
                <div class="pt-6">
                    <a href="features/security-technology">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/lock-closed -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">
                                    Security & Technology
                                </h3>
                                <p class="mt-5 text-base text-gray-500">
                                    All our websites are built with the latest technologies combined with the highest
                                    qulaity security from Google & Microsoft.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--SEO-->
                <div class="pt-6">
                    <a href="features/search-engine-optimisation">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/cog -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">
                                    Search Engine Optimisation
                                </h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Ensuring website performance through quick page load speed, semantic HTML, mobile first design and a
                                    great UX experience.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--SOCIAL MEDIA-->
                <div class="pt-6">
                    <a href="features/social-media">
                        <div class="flow-root rounded-lg bg-gray-100 px-6 pb-8">
                            <div class="-mt-6">
                                <div>
                                    <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-3 shadow-lg">
                                        <!-- Heroicon name: outline/cog -->
                                        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                                        </svg>
                                    </span>
                                </div>
                                <h3 class="mt-8 text-lg font-medium tracking-tight text-gray-900">
                                    Social Media
                                </h3>
                                <p class="mt-5 text-base text-gray-500">
                                    Allowing you to share vacancies, blog posts, content and updates at the touch of button.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <!--END CARDS-->
            </div>
        </div>
        <div class="bg-gray-50">
            <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:tracking-tight">
                <span class="block">Ready to dive in?</span>
                <span class="block text-indigo-600">Your brand new site starts here.</span>
              </h2>
              <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
                <div class="inline-flex rounded-md shadow">
                  <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700"> Get started </a>
                </div>

              </div>
            </div>
          </div>
    </div>
</div>
<app-footer></app-footer>