<app-header></app-header>

<div class="relative overflow-hidden bg-white pt-16 pb-32">
    <div class="relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8 xl:mx-auto">
            <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
                <div>
                    <div>
                        <span class="flex h-12 w-12 items-center justify-center rounded-md bg-indigo-600">
                            <!-- Heroicon name: outline/inbox -->
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                            </svg>
                        </span>
                    </div>
                    <div class="mt-6">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Content Management System</h2>
                        <p class="mt-4 text-lg text-gray-500">We realise your team is going to want to keep your website
                            fresh and informative for clients, candidates and potential new team members so we give you
                            easy access to updating job pages, blogs, events, team pages and more.</p>
                        <p class="mt-4 text-lg text-gray-500">We always keep in mind that your website should be easy
                            for you to update both now and years in the future, meaning we’ll build it with the latest
                            technologies available and talk you through the easy to use CMS.</p>
                        <p class="mt-4 text-lg text-gray-500">Simply put, it's easy to update - whether you're adding,
                            deleting or editing content.</p>
                        <div class="mt-6">
                            <a href="#"
                                class="inline-flex rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Get
                                started</a>
                        </div>
                    </div>
                </div>
                <div class="mt-8 border-t border-gray-200 pt-6">
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                        src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg"
                        alt="Inbox user interface">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
