<!--SECRUITY & TECHNOLOGY-->
<app-header></app-header>
<div class="relative bg-white pt-12 pb-12 overflow-hidden">
    <div class="mt-0">
        <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
            <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
                <div>
                    <div>
                        <span class="h-12 w-12 rounded-md flex items-center justify-center bg-indigo-600">
                            <!-- Heroicon name: outline/lock-closed -->
                            <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                        </svg>
                        </span>
                    </div>
                    <div class="mt-6">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900">
                            Keep your customers safe
                        </h2>
                        <p class="mt-4 text-lg text-gray-500">
                            All our websites are built with the <b>latest technologies</b> including HTML5, SCCS, 
                            Angular (the frontend framework Google use), TypeScript (JavaScript but supercharged), .NET 6 & 
                            C# (Microsoft), Azure (Microsoft Cloud) & Google Firebase (Google Cloud & Authentication). 
                        </p>
                        <p class="mt-4 text-lg text-gray-500">
                            <b>Solid SSL Security</b> - secure hosting and web HTTPS address included as standard. 
                        </p>
                        <p class="mt-4 text-lg text-gray-500">
                            All websites are <b>GDPR compliant</b> (Privacy Policy, Cookie Consent, Limiting Collected Data). We limit the amount of personal data stored on your website and website databases are stored in secured Google or Microsoft Cloud platforms across the UK & West Europe. 
                        </p>
                        <p class="mt-4 text-lg text-gray-500">
                            We can offer <b>unlimited storage and bandwidth</b> through Google or Microsoft Azure. 
                        </p>
                        <p class="mt-4 text-lg text-gray-500">
                            <b>Administrator roles</b> - we can offer a range of user roles, giving different users a different selection of access based on their remit. 
                        </p>
                        <div class="mt-6">
                            <button>
                                <a routerLink="/contact-us"
                                    class="inline-flex px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700">
                                    Get started </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
                <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
                    <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
                        src="/assets/images/security-camera-blue-background.jpg"
                        alt="Security camera on blue wall">
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>