<app-header></app-header>
<div class="bg-white">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Vacancy Search</h2>
        <p class="mt-4 text-gray-500 text-lg">The most intricate and probably the most important part of your website and we ensure candidates are quickly presented with roles that suit their wants and experience, increasing applications for you.</p>
  
        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Fully Furnished Simplicity</dt>
            <dd class="mt-2 text-m text-gray-500">Job search functionality can quickly become complicated, providing candidates with too many options. We aim to provide search functionality that presents the most relevant roles with the least amount of decisions and clicks.</dd>
          </div>
  
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Experience </dt>
            <dd class="mt-2 text-m text-gray-500">We try our best to make the candidate experience & journey as easy and fluent as possible, allowing candidates to apply for positions without signing up for an account, the ability to send their CV to the recruitment agency, individual recruiters, via your job poster or ATS / CRM.</dd>
          </div>
  
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Flexible </dt>
            <dd class="mt-2 text-m text-gray-500">We can give you the functionality to allow candidates to search your vacancies by keyword and / or filter by location, job type, sector, etc. with easy to apply options and calls to action. We can feature the recruiter and their contact details on each vacancy, logos or whatever suits your needs - just let us know.</dd>
          </div>
  
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-gray-900">Convenience</dt>
            <dd class="mt-2 text-m text-gray-500">Ease of access to applications, sending them to a general email address or tailoring applications specifically to recruiters.</dd>
          </div>
        </dl>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-01.jpg" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="rounded-lg bg-gray-100">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-02.jpg" alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-03.jpg" alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100">
        <img src="https://tailwindui.com/img/ecommerce-images/product-feature-03-detail-04.jpg" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100">
      </div>
    </div>
  </div>
  <app-footer></app-footer>
